@model AccountPasswordEditVm
@{
  ViewBag.Title = "Edit Password";
}

<div class="container">
  <div class="col-12 rounded my-5 bg-secondary p-5 text-light">
    <h1>Edit Password</h1>
    <br />
    <form asp-controller="Account" asp-action="EditPassword">
      <div asp-validation-summary="ModelOnly"  class="text-danger bg-white rounded py-1"></div>
      <div class="form-group">
        <label asp-for="NewPassword" class="control-label"></label>
        <input asp-for="NewPassword" class="form-control" />
        <span asp-validation-for="NewPassword" class="text-danger bg-white rounded-bottom py-1"></span>
      </div>
      <div class="form-group">
        <label asp-for="ConfirmNewPassword" class="control-label"></label>
        <input asp-for="ConfirmNewPassword" class="form-control" />
        <span asp-validation-for="ConfirmNewPassword"  class="text-danger bg-white rounded-bottom py-1"></span>
      </div>
      <div class="form-group">
        <label asp-for="OldPassword" class="control-label"></label>
        <input asp-for="OldPassword" class="form-control" />
        <span asp-validation-for="OldPassword"  class="text-danger bg-white rounded-bottom py-1"></span>
      </div>
      <br />
      <div class="btn-group float-right">
        <button type="submit" class="btn btn-primary">Update</button>
        <a href="javascript:history.back()" class="btn btn-warning">Back</a>
      </div>
    </form>
  </div>
</div>

@section scripts {
  <partial name="_ValidationScriptsPartial" />
}