@model AccountLoginVm

@{
  ViewBag.Title = "Log in";
}

<div class="container">
  <div class="col-12 rounded my-5 bg-secondary p-5 text-light">
    <h1>Log in</h1>
    <br/>
    <form asp-controller="Account" asp-action="Login" asp-route-returnUrl="@ViewBag.ReturnUrl" autocomplete="off">
      <div asp-validation-summary="ModelOnly" class="text-danger bg-white rounded py-1"></div>
      <div class="form-group">
        <label asp-for="UserName" class="control-label"></label>
        <input asp-for="UserName" class="form-control" autocomplete="username"/>
        <span asp-validation-for="UserName" class="text-danger bg-white rounded-bottom py-1"></span>
      </div>
      <div class="form-group">
        <label asp-for="Password" class="control-label"></label>
        <input asp-for="Password" class="form-control" autocomplete="password"/>
        <span asp-validation-for="Password" class="text-danger bg-white rounded-bottom py-1"></span>
      </div>
      <div class="form-check">
        <input asp-for="RememberMe" class="form-check-input"/>
        <label asp-for="RememberMe" class="form-check-label"></label>
        <span asp-validation-for="RememberMe" class="text-danger bg-white rounded-bottom py-1"></span>
      </div>
      <br/>
      <div class="btn-group float-right">
        <a asp-action="Register" class="btn btn-warning">New account?</a>
        <button type="submit" class="btn btn-primary">Log in</button>
      </div>
    </form>
  </div>
</div>

@section scripts {
  <partial name="_ValidationScriptsPartial"/>
}