@model AccountLoginVm

@{
  ViewBag.Title = "Log in";
}

<div class="container">
  <div class="col-12 rounded my-5 bg-secondary p-5 text-light">
    <h1>Log in</h1>
    <br />
    <form asp-controller="Account" asp-action="Login">
      @Html.HiddenFor(m => m.ReturnUrl)
      <div asp-validation-summary="ModelOnly" class="text-danger bg-light"></div>
      <div class="form-group">
        <label asp-for="UserName" class="control-label"></label>
        <input asp-for="UserName" class="form-control"/>
        <span asp-validation-for="UserName" class="text-danger bg-light"></span>
      </div>
      <div class="form-group">
        <label asp-for="Password" class="control-label"></label>
        <input asp-for="Password" class="form-control"/>
        <span asp-validation-for="Password" class="text-danger bg-light"></span>
      </div>
      <br/>
      <div class="btn-group float-right">
        <button type="submit" class="btn btn-primary">Log in</button>
        <a asp-action="Register" class="btn btn-warning">New account</a>
      </div>
    </form>
  </div>
</div>

@section scripts {
  <partial name="_ValidationScriptsPartial" />
}
