@model PostEditVm
@{
  ViewBag.Title = "Edit Post";
}

<div class="container">
  <div class="col-12 rounded my-5 bg-secondary p-5 text-light">
    <h1>Edit Post</h1>
    <br />
    <form asp-controller="Post" asp-action="Edit">
      @Html.HiddenFor(m => m.PostId)
      @Html.HiddenFor(m => m.ThreadId)
      <div asp-validation-summary="ModelOnly" class="text-danger"></div>
      <div class="form-group">
        <label asp-for="PostText" class="control-label"></label>
        <textarea asp-for="PostText" rows="10" class="form-control"></textarea>
        <span asp-validation-for="PostText" class="text-danger"></span>
      </div>
      <br/>
      <div class="btn-group float-right">
        <button type="submit" class="btn btn-primary">Update</button>
        <a asp-controller="Post" asp-action="Index" class="btn btn-warning">Back</a>
      </div>
    </form>
  </div>
</div>

@section scripts {
  <partial name="_ValidationScriptsPartial" />
}