@model ThreadEditVm

@{
  ViewBag.Title = "Edit Thread";
}

<div class="container">
  <div class="col-12 rounded my-5 bg-secondary p-5 text-light">
    <h1>Edit Thread</h1>
    <br />
    <form asp-controller="Thread" asp-action="Edit">
      @Html.HiddenFor(m => m.TopicId)
      @Html.HiddenFor(m => m.ThreadId)
      <div asp-validation-summary="ModelOnly" class="text-danger bg-light"></div>
      <div class="form-group">
        <label asp-for="ThreadText" class="control-label"></label>
        <input asp-for="ThreadText" class="form-control" />
        <span asp-validation-for="ThreadText" class="text-danger bg-light"></span>
      </div>
      <br />
      <div class="btn-group float-right">
        <button type="submit" class="btn btn-primary">Update</button>
        <a asp-controller="Thread" asp-action="Index" class="btn btn-warning">Back</a>
      </div>
    </form>
  </div>
</div>

@section scripts {
  <partial name="_ValidationScriptsPartial" />
}