@model ForumManagementLockedTopicsVm
@{
  ViewBag.Title = "All Locked Topics";
}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-10">
      <div class="row mt-4">
        <div class="col-md-12">
          <h4 class="text-center text-light mb-3">All Locked Topics</h4>
          <partial name="_LockedTopicsTablePartial" for="@Model.LockedTopics" />
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <partial name="_StatisticsPartial" for="@Model.Statistics" />
    </div>
  </div>
</div>